<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        Trenkit
        <!-- <img src="blanc.png" width="86" height="40" /> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <nuxt-link class="nav-link" href="#" to="/">Inicio </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" href="#" to="/privacidad">Privacidad</nuxt-link>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://trenkit.com/saltarin/" to="http://trenkit.com/saltarin/">Saltarin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://trenkit.com/RunningFast/" to="http://trenkit.com/RunningFast/">RunningFast</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-5">
      <Nuxt />
    </div>
    <footer>
      <div class="d-flex justify-content-end m-4">
        <p>Todos los derechos reservados</p>
      </div>
    </footer>
  </div>
</template>