<template>
    <div>
      <div class="d-flex justify-content-center">
        <Logo />
      </div>
      <div class="d-flex justify-content-center">
          <h2>Creadores de Saltarin y proximos juegos</h2>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <img class="img-fluid" src="Saltarin.jpg" width="680" height="460" />
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a href="https://play.google.com/store/apps/details?id=com.Trenkit.Saltarin">
        <img class="img-fluid" src="playstore.png" width="300" height="120" />
        </a>
      </div>
    </div>
</template>

<script>
export default {}
</script>