<template>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex justify-content-center">
            <h2>Politica de Privacidad</h2>
        </div>
        <div class="row">
            <p class="text-justify">Fecha de Entrada en Vigor: 1 de julio de 2020</p>
        </div>
        <div class="row">
            <p class="text-justify">¡Gracias por jugar nuestros juegos! La presente Política de Privacidad describe:</p>
        </div>
        <div class="row">
            <p class="text-justify">Esta Política de privacidad se aplica a los juegos, sitios web y servicios relacionados de Trenkit, 
                que llamamos colectivamente el Servicio. Periódicamente podríamos actualizar esta Política de privacidad mediante la 
                publicación de una versión nueva en supercell.com. Si realizamos algún cambio sustancial, se lo informaremos publicando una 
                notificación en el Servicio antes de que el cambio entre en vigor. 
                Si continúa usando el Servicio después de la fecha de entrada en vigor estará sujeto a la nueva Política de privacidad.
            </p>
        </div>
        <diV class="row">
            <h3>CONTACTE CON NOSOTROS</h3>
            <p class="text-justify">
                Si tiene preguntas sobre nuestro juegos, o si tiene alguna solicitud para resolver problemas con nuestros juegos, 
                le recomendamos que se comunique con nosotros en primer lugar a través de las funciones de soporte en cada juego de Trenkit 
                para que podamos responderle más rápidamente.
            </p>
        </diV>
        <diV class="row">
            <h3>SUS DERECHOS Y OPCIONES</h3>
            <p class="text-justify">
                Exclusión de correos electrónicos de marketing y otro material de marketing directo.
                Puede darse de baja de las comunicaciones promocionales, como recibir correos electrónicos de marketing de 
                nuestra parte, siguiendo las instrucciones en dichas comunicaciones o cambiando la configuración en el juego. 
                Es posible que la configuración actualizada no surta efecto de forma inmediata. 
            </p>
        </diV>
        <diV class="row">
            <h3>PRIVACIDAD INFANTIL</h3>
            <p class="text-justify">
                La protección de la privacidad de los niños en línea es muy importante para nosotros. En general, 
                nuestros Servicios no se dirigen a menores de 13 años (u otra edad según lo exija la legislación local). 
                Los Servicios no recopilan, a sabiendas, información personal, salvo lo descrito en el siguiente párrafo.

                Para los juegos que no se dirigen a menores pero que pueden resultar atractivos para ellos, tomamos medidas 
                adicionales para limitar el acceso a estos Servicios en función de la edad del jugador. Para estos Servicios, 
                cuando un jugador indica que es menor de 13 años (o la edad vigente en su territorio), limitaremos su acceso a 
                determinadas funciones, como las redes sociales y las funciones de chat, así como ciertos tipos de alertas de 
                notificación. También limitamos el tratamiento de datos personales hasta el alcance estrictamente necesario para 
                dar soporte a las operaciones internas de nuestros Servicios.

                Si usted es padre, madre o tutor de un menor y desea revisar la información personal recopilada de su hijo, 
                hija o pupilo, o que modifiquemos o eliminemos dicha información, puede ponerse en contacto con nosotros por los 
                medios indicados anteriormente. Si descubrimos que un menor nos ha proporcionado información personal infringiendo 
                la disposición anterior, eliminaremos la información personal que hayamos recopilado, salvo que tengamos la 
                obligación legal de conservarla, y cancelaremos la cuenta o la revertiremos a una experiencia destinada a menores 
                de edad, según corresponda.
            </p>
        </diV>
    </div>
</template>
<script>
export default {
    
}
</script>